<!-- <!DOCTYPE html>
<html lang="en">
<head></head>
<body>
 <h1 class="text-center title-1"> Lista de Usu&aacute;rios </h1>
 <ul>
 <% leagues.forEach(function(user){ %>
 <li><a href="mailto:<%= user.email %>"><%= leagues.leaguename %></a></li> 
 <%})%>
 </ul>
</body>
</html> -->